/* QuizGame.module.css */

.quiz-game-container {
    padding: 20px;
  }
  
  .question-card {
    margin-bottom: 20px;
  }
  
  .question-card p {
    margin: 5px 0;
  }
  
  .options-list {
    list-style-type: none;
    padding: 0;
  }
  
  .options-list li {
    margin-bottom: 10px;
  }
  
  .options-list input[type="radio"] {
    margin-right: 5px;
  }
  
  .quiz-end-container {
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
  }
  
  .quiz-end-container h2 {
    margin-bottom: 10px;
  }
  
  .quiz-end-container h3 {
    margin-bottom: 5px;
  }
  