.container {
  margin-top: 40px;
  align-items: center;
}

.heading {
  text-align: center;
}

.filters {
  display: flex;
  justify-content: space-around;
  margin-bottom: 21px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 21px;
}

.statistics {
  margin-top: 42px;
  text-align: center;
}
